@media only screen and (min-device-width : 320px) and (max-device-width : 568px){
	.md_logo{
		width: 100% !important;
	}
	.md_under-construction {
		font-size: 19px;
	}
	.md_content-headline {
		font-size: 24px !important;
		line-height: 34px !important;
	}
	.md_thumbnails img {
		width: 50px;
		height: 50px;
	}
}

body {
	font-family: "PFAgoraSansPro-XThin", Helvetica, serif;
	font-size: 30px;
	margin: 0;
	width: 100%;
	background-color: #1b2b1e;
}
@font-face {
  font-family: 'PFAgoraSansPro-XThin';
  src: url('../fonts/PFAgoraSansPro-XThin.eot?#iefix') format('embedded-opentype'),  
  	   url('../fonts/PFAgoraSansPro-XThin.woff') format('woff'),
  	   url('../fonts/PFAgoraSansPro-XThin.ttf')  format('truetype'),
  	   url('../fonts/PFAgoraSansPro-XThin.svg#PFAgoraSansPro-XThin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFAgoraSansPro-Medium';
  src: url('../fonts/PFAgoraSansPro-Medium.eot?#iefix') format('embedded-opentype'),
  		url('../fonts/PFAgoraSansPro-Medium.woff') format('woff'),
  		url('../fonts/PFAgoraSansPro-Medium.ttf')  format('truetype'),
  		url('../fonts/PFAgoraSansPro-Medium.svg#PFAgoraSansPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

.md_header {
	background-color: #1b2b1e;
	height: 120px;
}
.md_main-container {
	margin: 0 auto;
	width:100%;
	padding-top: 25px;
	display: block;
	background-color: #c5c5c5;
}
.md_content-headline {
	text-transform: uppercase;
	color: #26432d;
	line-height: 48px;
	font-size: 40px;
	text-align: center;
}
.md_content-headline span.david-minasyan {
	font-family: "PFAgoraSansPro-Medium", Helvetica, serif;
	font-size: 46px; 
}
.md_email a {	
	font-size: 16px;
	text-transform: lowercase;
	color: #3e59a1;
	font-family: PFAgoraSansPro-Medium, Helvetica, serif;
	text-decoration: underline;
}
.md_email a:hover {
	text-decoration: none;
}
.md_footer div{
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin: 15px 0 0 0;
}
.md_social-buttons {
	text-align: center;
	padding-top: 15px;
}
.md_social-buttons img {
	width: 30px;
	height: 30px;
}
.md_logo {
	margin: 0 auto;
	width: 550px;
	padding-top: 25px;
	display: block;
	text-align: center;
	color: #616962;
}
.md_under-construction {
	text-transform: uppercase;
}
.md_thumbnails {margin-bottom: -10px;}

/* gallery */
.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

.md_social-buttons a {
	text-decoration: none;
}