header {
    margin-bottom: 8px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    a {
        color: $david-color;
    }
}

div.row {
    margin-top: 30px;
}

.welcome-overlay {
    position: absolute;
    left:0;
    top:0;
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0;

    img {@include absolute-center;}
}

nav.side-nav ul{
    text-transform: uppercase;
    list-style: none;

    a:active {
        color: #a9baa9;
    }

    li:hover {
        list-style-type: $list-style-type;
        color: $david-color;
    }
}

.index {
    background: white url('../images/prince.png') no-repeat right bottom;
    min-height: 84vh;
    .line {
        @include vertical-center;
        background: white url('../images/line.svg') no-repeat center center;
    }
}

.bio{
    //background: white url('../images/md-bio.png') no-repeat right bottom;
    background-image: url('../images/md-bio.png'), url('../images/stand.png');
    background-repeat: no-repeat, no-repeat;
    //background-position: bottom right, left, right;
    background-position-y: 100%, 100%;
    background-position-x: 100%, 87%;
    min-height: 84vh;
}

.footer {
    .social {
        img {
            width: 24px;
            height: 24px;
        }
    }

    .languages {
        text-transform: uppercase;
        font-weight: bold;
        font-size: .8rem;
        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
            color: $david-color;
        }

        a:active {
            text-decoration: none;
            color: $david-color;
        }
    }
}