<!-- side navigation desktop-->
<nav class="side-nav">
    <ul>
        <li><a href="/">bio</a></li>
        <li><a href="/artworks/">artworks</a></li>
        <li><a href="/chronic/">chronic</a></li>
        <li><a href="/media/">media</a></li>
        <li><a href="/news/">news</a></li>
        <li><a href="/contact/">contact</a></li>
    </ul>
</nav>
<!-- side navigation desktop -->

<div class="footer">
        <!-- social links -->
        <div class="social">
            <a href="#" target="_blank"><img src="/images/icons/social/facebook.svg" alt="facebook"/></a>
            <a href="#" target="_blank"><img src="/images/icons/social/instagram.svg" alt="instagram"/></a>
            <a href="#" target="_blank"><img src="/images/icons/social/twitter.svg" alt="twitter"/></a>
            <a href="#" target="_blank"><img src="/images/icons/social/linkedin.svg" alt="linkedin"/></a>
        </div>
        <!-- social links -->

        <!-- language switcher -->
        <div class="languages">
            <a href="#" >Eng</a>
            <a href="#" >Հայ</a>
        </div>
        <!-- language switcher -->
</div>