<div class="welcome-overlay">
    <aside class="columns small-12">
        <a href="/"><img id="logo" src="/images/logo.png"></a>
    </aside>
</div>

<div class="index">
    <div class="line"></div>
    <div class="row container">
        <section class="columns small-2">
            {{> side_nav}}
        </section>
        <div class="columns small-10 main-content">
            Index/Bio
        </div>
        <aside class="column small-12 line"></aside>
    </div>
</div>